body {
  top: 0;
  left: 0;
  width: 99%;
  height: 97%;
  position: absolute;
  display: table;
}
.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
h1 {
  font-size: 48px;
}
